* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.main{
     border: 1px solid red;
     display: flex;
     Justify-content:space-around;
}
.main div{
     border: 1px solid green;
}
.main div div{
    contenteditable:true;
    border: 1px solid blue;
    margin:10px 20px;
}
.main textarea{
    border: 1px solid deeppink;
    width:300px;
    height:80px;
}
.main input{
     border: 1px solid deeppink;
}
#send_db{

    margin-top: 350px;
    width:200px;
    height:90px;
}
button:active
{
  background-color: #00CCC0;
  border: 1px #000000 solid;
}
.reload{
    width:15px;
    height:15px;
}
.answer_nuero{
    width:830px !important;
    height:430px !important;
}